a {
  color: #70B7FD;
  text-decoration: none;
}

body {
  width: 95%;
  margin: 0 auto;
  font: 1em/1.2 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif';
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.videoContainer {
  grid-column: 2;
  grid-row: 2;
  width: 80%;
}

.vjs-subs-caps-button {
  display: none;
}

aside {
  grid-column: 1;
  grid-row: 2;
  padding-left: .5em;
  padding-right: 1em;
  text-align: right;
  border-right: 1px solid #999;
}

.categories {
  grid-column: 1 / 3;
  grid-row: 3;
  text-align: center;
}

section {
  grid-column: 1 / 3;
  grid-row: 4;
  text-align: center;
}

.sources {
  display: inline-block;
  margin-top: 0;
  padding: 0;
}

.sources li {
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(112,183,253,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.regImg {
  display: inline-block;
}

.categories li, .channels li, .formToggle, button {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(112,183,253,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

button {
  font-size: .9em;
}

.sources .sourceReg, .categories .selected, .channels .selected {
  color: white;
  background: red;
}

li {
  margin-left: .5em;
}

aside h3 {
  margin-top: 0;
}

.hidden {
  display: none !important;
}

.white {
  color: white !important;
}

h4 {
  color: red;
}

.bgBlack {
  background-color: black !important;
}

input {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  border-radius: 1px;
  box-sizing: border-box;
  height: 2em;
  max-width: 8em;
}

form div + div {
  margin-top: 1em;
}

footer {
  background: #F3F3F3;
  padding: .5em;
  letter-spacing: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer span {
  margin-left: .5em;
  margin-right: .5em;
}

@media (max-width: 991.98px) {
  header {
    padding-left: 1em;
  }
  .videoContainer {
    width: 95%;
  }
  .categories .hbohd {
    display: none;
  }
  footer span {
      display: none;
  }
}

@media (min-width: 992px) {
  header {
    grid-column: 2;
    grid-row: 1;
  }
}

svg {
  fill:#70B7FD; 
  color:#fff; 
  position: absolute; 
  top: 0; 
  border: 0; 
  right: 0;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}