* {
  margin: 0;
  padding: 0;
}

html { 
  font-size: 62.5%;
}

a {
  color: #70B7FD;
  text-decoration: none;
}

li {
  margin-left: .8rem;
  list-style: none;
}

ul:focus, li:focus {
  outline: none;
}

button {
  font-size: 1.44rem;
}

input {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  border-radius: .1rem;
  box-sizing: border-box;
  height: 3.2rem;
  max-width: 12.8rem;
}

body {
  width: 90%;
  margin: 0 auto;
  font: 1.6rem/1.2 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif';
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-gap: 2rem;
}

header {
  grid-column: 1 / 9;
  grid-row: 1;
  text-align: center;
}

.videoContainer {
  grid-column: 2 / 9;
  grid-row: 2;
  width: 100%;
  z-index: 1000;
}

/*
.vjs-subs-caps-button {
  display: none;
}*/

.sliderContainer {
  grid-column: 2 / 9;
  grid-row: 3;
}

.slider {
  position: relative;
  margin: 0 auto;
  width: 17rem;
}

.frame {
  width: 16.4rem;
  position: relative;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  display: inline-block;
}

.frame li {
  position: relative;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  height: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.2rem;
  background: #2E435A;
  color: #fff;
  margin-left: 0;
  margin-right: .8rem;
  padding: 0 .8rem;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 2.4rem;
}

.next.disabled, .prev.disabled {
  opacity: .3;
  pointer-events: none;
}

.next svg, .prev svg {
  width: 2.5rem;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding-right: 2rem;
  text-align: right;
  border-right: .1rem solid #999;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.categories {
  grid-column: 1 / 9;
  grid-row: 6;
  text-align: center;
}

section {
  grid-column: 1 / 9;
  grid-row: 7;
  text-align: center;
}

.linkInput {
  display: block;
  width: 50%;
  max-width: 50%;
  margin: 0 auto 8rem;
}

.sources {
  display: inline-block;
  margin-top: 0;
  padding: 0;
}

.sources li {
  display: block;
  text-decoration: none;
  letter-spacing: .1rem;
  border: .1rem solid rgba(0,0,200,0.6);
  background: rgba(112,183,253,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: .1rem .1rem .2rem rgba(0,0,200,0.4);
  border-radius: 1rem;
  padding: .3rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.regImg {
  display: inline-block;
}

.categories li, .channels li, .formToggle, button {
  display: inline-block;
  text-decoration: none;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border: .1rem solid rgba(0,0,200,0.6);
  background: rgba(112,183,253,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: .1rem .1rem .2rem rgba(0,0,200,0.4);
  border-radius: 1rem;
  padding: .3rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

aside h3 {
  margin-top: 0;
}

form div + div {
  margin-top: 1.6rem;
}

footer {
  grid-column: 1 / 9;
  grid-row: 8;
  text-align: left;
  padding: .8rem;
  letter-spacing: .1rem;
}

footer span {
  margin-left: .8rem;
  margin-right: .8rem;
}

.video-js .vjs-overlay {
  color: #fff;
  position: absolute;
  text-align: center;
}

.video-js .vjs-overlay-background {
  background-color: #aba2a2;
  border-radius: 3px;
}

.video-js .vjs-overlay-center {
  left: 50%;
  top: 50%;
}

.working {
  border: .1rem solid rgba(0, 200, 0, 0.6) !important;
  background:rgba(47, 201, 96, 0.5) !important;
}

.sources .sourceReg, .categories .selected, .channels .selected {
  color: white;
  background: red !important;
}

.hidden {
  display: none !important;
}

.white {
  color: white !important;
}

.bgBlack {
  background-color: black !important;
}

.borderRed {
  border-color: red !important;
}

.alert {
  grid-column: 1 / 9;
  grid-row: 4;
  text-align: center;
  color: red !important;
}

.upComing {
  grid-column: 1 / 9;
  grid-row: 5;
  text-align: center;
  color: rgba(0, 200, 0);
}

.upComing li {
  color: rgba(0, 200, 0) !important;
}

@media (max-width: 468px ) {

  .slider {
    width: 180px;
  }

  .frame {
    width: 110px;
  }
}

@media (min-width: 469px ) {

  .slider {
    width: 230px;
  }

  .frame {
    width: 164px;
  }
}

@media (min-width: 640px ) {

  .slider {
    width: 400px;
  }

  .frame {
    width: 325px;
  }
}

@media (min-width: 1176px ) {

  .slider {
    width: 615px;
  }

  .frame {
    width: 536px;
  }
}

@media (min-width: 1440px ) {

  .slider {
    width: 730px;
  }

  .frame {
    width: 658px;
  }
}

@media (max-width: 991.98px) {
  header {
    text-align: left;
    padding-left: 1.6rem;
    font-size: .8rem;
  }
  .categories .hbohd {
    display: none;
  }
  footer span {
    display: none;
  }
  .github-corner svg {
    width: 40px;
    height: 40px;
  }
}

svg {
  fill:#70B7FD; 
  color:#fff; 
  position: absolute; 
  top: 0; 
  border: 0; 
  right: 0;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
